<!DOCTYPE html>
<html>
  <head>
    <title>Volunteer Website</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <a href="/">
          <button class="btn">
            <h1><strong>Volunteering Inc.</strong></h1>
          </button>
        </a>
      </div>
      <%= yield %>
    </div>
  </body>
</html>